/*
Settings Page
*/

.taskmodoro-input-error {
  border-color: var(--text-error) !important;
}

.taskmodoro-donation {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.taskmodoro-donate-button {
  margin: 10px;
}

.taskmodoro-modal {
  font-family: 'lato';
  min-width: 900px;
  padding: 0;
  margin: 0;
  border: 1px solid #3D4242 ;
  text-decoration: none;
}

.taskmodoro{
  --pomodoro-rest-indicator: #2b81be;
  --pomodoro-work-indicator: var(--text-accent);
  --overall-worktime-prop: #b63737;
  --daily-worktime-prop: #af7853;
  --recurrence-prop:#c86092;
  --due-prop: #8562cb;
  --scheduled-prop:#54a8b4;
  --mid-blue-gray: #909595;
  --mid2-blue-gray: #686B6F;
  --mid3-blue-gray: #5b6060;
  --dark-blue-gray: #4B4F4F;
  --dark2-blue-gray: #343636;
 
}
.taskmodoro-circle {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  border: 2px solid var(--mid-blue-gray);
}

.taskmodoro-circle:hover {
  cursor: pointer;
}

.taskmodoro-modal-content {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.taskmodoro-modal>.modal-close-button{
  top: 24px;
  right: 24px;
  font-size: 44px;
  color: var(--mid2-blue-gray)
}
.primary-btn{
  padding: 8px 24px;
}

.primary{
  background-color: var(--text-accent);
}

.secondary-action{
  background-color: #625D5D !important;
}

.hidden {
  display: none;
}

.disabled-btn {
  opacity: 0.5;
  cursor: default;
}

[contenteditable='true']:empty:after {
  content: attr(placeholder);
  color: var(--dark-blue-gray);
  font-size: 1rem;
  font-weight: normal;
}
