.taskmodoro-input-error {
  border-color: var(--text-error) !important;
}

.taskmodoro-donation {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.taskmodoro-donate-button {
  margin: 10px;
}

.taskmodoro-modal {
  font-family: inherit;
  min-width: 900px;
  padding: 0;
  margin: 0;
  border: 1px solid var(--background-secondary-alt) ;
  text-decoration: none;
}

.taskmodoro{
  --pomodoro-rest-indicator: #2b81be;
  --pomodoro-work-indicator: var(--text-accent);
  --overall-worktime-prop: #b63737;
  --daily-worktime-prop: #af7853;
  --recurrence-prop:#c86092;
  --due-prop: #8562cb;
  --scheduled-prop:#54a8b4;
  --title: var(--text-muted);
  --secondary-action-item: var(--text-faint);
  --check-mark-fill: var(--text-accent);
  --checkbox-border: var(--text-faint);
  --input-border: var(--background-modifier-border);
  --placeholder: var(--text-faint);

 
}
.taskmodoro-circle {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  border: 2px solid var(--text-faint);
}

.taskmodoro-circle:hover {
  cursor: pointer;
}

.taskmodoro-modal-content {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.taskmodoro-modal>.modal-close-button{
  top: 20px;
  right: 24px;
  font-size: 44px;
  color: var(--secondary-action-item)
}

.taskmodoro .secondary-action-btn{
  background-color: var(--interactive-normal);
}

.primary-btn{
  padding: 8px 24px;
}

.primary{
  background-color: var(--text-accent);
}

.hidden {
  display: none;
}

.disabled-btn {
  opacity: 0.5;
  cursor: default;
}

[contenteditable='true']:empty:after {
  content: attr(placeholder);
  color: var(--placeholder);
  font-size: 1rem;
  font-weight: normal;
}
