/*
Settings Page
*/

.tq-input-error {
  border-color: var(--text-error) !important;
}

.tq-donation {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.tq-donate-button {
  margin: 10px;
}

.tq-modal {
  font-family: 'lato';
  min-width: 900px;
  padding: 0;
  margin: 0;
  border: 1px solid #3D4242 ;
  text-decoration: none;
}

.tq{
  --mid-blue-gray: #909595;
  --mid2-blue-gray: #686B6F;
  --dark-blue-gray: #4B4F4F;
  --dark2-blue-gray: #343636;
 
}
.tq-circle {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-radius: 100%;
  border: 2px solid var(--mid-blue-gray);
}

.tq-circle:hover {
  cursor: pointer;
}

.tq-modal-content {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.tq-modal>.modal-close-button{
  top: 24px;
  right: 24px;
  font-size: 44px;
  color: var(--mid2-blue-gray)
}
.primary-btn{
  padding: 8px 24px;
}

.primary{
  background-color: var(--text-accent);
}

.secondary-action{
  background-color: #625D5D !important;
}

.hidden {
  display: none;
}

.disabled-btn {
  opacity: 0.5;
  cursor: default;
}
